{%extends 'base.html'%}
{%load static%}

{%block title%}
 - Movie Info
{%endblock%}

{%block content%}

<section class="bg-black overflow-x-hidden h-screen">
    <img class="flex justify-center mx-auto my-4"src="{{movie.flyers.url}}" alt="">
    <p class="text-white flex sm:flex sm:justify-center font-bold text-2xl mx-4">{{movie.title}}</p>
    <a href="{{movie.movies.url}}">
        <div class="flex justify-center">
            <button class="bg-white my-6 text-black w-80 sm:w-96 rounded-sm h-12 mx-4">
                <i class="fa fa-play" aria-hidden="true"></i> &nbsp;Play
            </button>
        </div>
       
    </a>
    {%if movie.type == 'Seasonal'%}
        <p class="text-gray-200">Episode</p>
        {%for episode in movie.videos.all%}
            <a href="{%url 'core:play' movie_id=movie.uuid%}">
                {{forloop.counter}} - {{episode.title}}
            </a>
        {%endfor%}
    {%endif%}
    <p class="text-gray-200 xl:pt-7 flex justify-center mx-8 sm:mx-40 md:mx-56 lg:mx-64 xl:mx-96 md:text-lg xl:text-xl 2xl:text-2xl">{{movie.description}}</p> 
</section>
{%endblock%}