{%load staticfiles%}
<nav class="flex flex-row justify-between mt-7 md:mx-6">
    <a href="/home"><img src="{%staticfiles 'netflix_logo.png'%}" class="h-6 w-34 pl-6 md:pl-8 md:h-9 md:w-44"alt="logo"></a>
    <a href="{%url 'account_login'%}">
        {%if request.user.is_authenticated%}
        <form action="{%url 'account_logout'%}" method="POST">{%csrf_token%}
            <button class="text-white px-2 mr-6 h-7 md:h-9 md:px-5 md:mr-12 md:text-center rounded-md bg-red-600">
                Sign Out
            </button>
        </form>
        {%else%}
            <button class="text-white px-2 mr-6 h-7 md:h-9 md:px-5 md:mr-12 md:text-center rounded-md bg-red-600">
                Sign In
            </button>
        {%endif%}
    </a>
</nav>